@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Raleway&display=swap");

.about-page {
  font-family: "Raleway";
}
.about-page h2 {
  margin-top: 50px;
  text-align: center;
}

.about-page.about-purpose {
  text-align: center;
  padding: 0 30px;
  margin-bottom: 20px;
}

.about-page.how-it-works {
  text-align: left;
  padding: 0 20px;
}
.about-page.how-it-works blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
.about-page.how-it-works blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.about-page.how-it-works blockquote p {
  display: inline;
}

.opening {
  font-family: sans-serif;
}
.opening img {
  width: 100%;
}

/* REACT-MODAL */
.ReactModal__Content {
  padding: 40px 80px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 15px;
  text-align: center;
}
.ReactModal__Content h2 {
  font-size: 3.5rem;
  font-family: "Lora";
  font-weight: 700;
  color: crimson;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
